@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

.oob-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.oob-header {
  flex: 1;
  display: flex;
  flex-direction: column;;
  align-items: center;
  justify-content: center;
}

.oob-header-logo {
  background-image: url('/images/logo2.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 200px;
}

.oob-header-image {
  background-image: url('/images/unicorn.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
}

.oob-main {
  display: flex;
  flex: 1;
}

.oob-writer {
  margin: .25em;
  flex: 1;
}

.oob-writer textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.oob-display {
  font-family: Caveat;
  flex: 1;
  color: #623c99;
  font-weight: bold;
  font-size: 22pt;
}